In [1]:
from clase import cuartas 
from clasificacion import *
import glob 
import os
from tqdm import tqdm

/usr/lib/python3/dist-packages/requests/__init__.py:87: RequestsDependencyWarning: urllib3 (2.0.4) or chardet (4.0.0) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [13]:
# ruta_xmls = '../Archivos/Corales/Corales20/*.xml'
xml_files = glob.glob('../Archivos/Corales/Corales_20/*.xml')
xml_files.sort()   #Para organizar alfabeticamente los archivos, para que quede igual que en la carpeta

In [14]:
xml_files

['../Archivos/Corales/Corales_20/002506B_.xml',
 '../Archivos/Corales/Corales_20/002606B_.xml',
 '../Archivos/Corales/Corales_20/002706B_.xml',
 '../Archivos/Corales/Corales_20/002806B_.xml',
 '../Archivos/Corales/Corales_20/002908B_.xml',
 '../Archivos/Corales/Corales_20/003006B_.xml',
 '../Archivos/Corales/Corales_20/003109B_.xml',
 '../Archivos/Corales/Corales_20/003206B_.xml',
 '../Archivos/Corales/Corales_20/003306B_.xml',
 '../Archivos/Corales/Corales_20/003604B2.xml',
 '../Archivos/Corales/Corales_20/003608B2.xml',
 '../Archivos/Corales/Corales_20/003706B_.xml',
 '../Archivos/Corales/Corales_20/003806B_.xml',
 '../Archivos/Corales/Corales_20/003907B_.xml',
 '../Archivos/Corales/Corales_20/004003B_.xml',
 '../Archivos/Corales/Corales_20/004006B_.xml',
 '../Archivos/Corales/Corales_20/004008B_.xml',
 '../Archivos/Corales/Corales_20/004106B_.xml',
 '../Archivos/Corales/Corales_20/004207B_.xml',
 '../Archivos/Corales/Corales_20/004311B_.xml']

In [16]:
#Guardar los nombre de los archivos

def extraer_nombre_archivo(ruta):
    nombre_archivo = os.path.basename(ruta)
    return nombre_archivo


nombres = [extraer_nombre_archivo(ruta) for ruta in xml_files]


#Cambiar nombre de los archivos a 1,2,3 ...

# for i, ruta in enumerate(xml_files):
#     os.rename(ruta, f'../Archivos/Corales/Corales_20/{i+1}.xml')

In [22]:
nuevos_nombres = [i for i in range(1,len(xml_files)+1)]
nuevos_nombres

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [35]:
correspondencia_nombres = pd.DataFrame({
    'Nombres_catalogo' :nombres , 
    'Nuevo_nombre': nuevos_nombres})
correspondencia_nombres

   Nombres_catalogo  Nuevo_nombre
0      002506B_.xml             1
1      002606B_.xml             2
2      002706B_.xml             3
3      002806B_.xml             4
4      002908B_.xml             5
5      003006B_.xml             6
6      003109B_.xml             7
7      003206B_.xml             8
8      003306B_.xml             9
9      003604B2.xml            10
10     003608B2.xml            11
11     003706B_.xml            12
12     003806B_.xml            13
13     003907B_.xml            14
14     004003B_.xml            15
15     004006B_.xml            16
16     004008B_.xml            17
17     004106B_.xml            18
18     004207B_.xml            19
19     004311B_.xml            20

In [52]:
xml_files = glob.glob('../Archivos/Corales/Corales_20/*.xml')

In [53]:
df_final = pd.DataFrame()
xml_error = []
for i in tqdm(xml_files):
    print(i)
    try:
        prueba = cuartas(i)
        df = prueba.extraer_df()
        print('Se extrajo el df')
        df_clasificacion = dataframe_clasificacion(df)
        print('Se clasifico el df')

        #Nombre del coral

        nombre = extraer_nombre_archivo(i)
        df_clasificacion['Nombre'] =nombre
        df_final = pd.concat([df_final,df_clasificacion])
    except:
        xml_error.append(i)
        print('Error')
        continue

  0%|          | 0/20 [00:00<?, ?it/s]

../Archivos/Corales/Corales_20/8.xml

  5%|▌         | 1/20 [00:00<00:11,  1.59it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/16.xml

 10%|█         | 2/20 [00:01<00:09,  1.87it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/11.xml

 15%|█▌        | 3/20 [00:01<00:06,  2.44it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/15.xml

 20%|██        | 4/20 [00:01<00:06,  2.48it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/17.xml

 25%|██▌       | 5/20 [00:02<00:06,  2.22it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/1.xml

 30%|███       | 6/20 [00:02<00:06,  2.11it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/14.xml

 35%|███▌      | 7/20 [00:03<00:06,  2.00it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/9.xml

 40%|████      | 8/20 [00:04<00:06,  1.76it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/20.xml

 45%|████▌     | 9/20 [00:04<00:05,  1.85it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/19.xml

 50%|█████     | 10/20 [00:05<00:06,  1.52it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/4.xml

 55%|█████▌    | 11/20 [00:05<00:05,  1.66it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/3.xml

 60%|██████    | 12/20 [00:06<00:04,  1.66it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/2.xml

 65%|██████▌   | 13/20 [00:06<00:03,  1.93it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/18.xml

 70%|███████   | 14/20 [00:09<00:06,  1.04s/it]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/10.xml

 75%|███████▌  | 15/20 [00:09<00:04,  1.15it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/6.xml

 80%|████████  | 16/20 [00:10<00:03,  1.33it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/5.xml

 85%|████████▌ | 17/20 [00:11<00:02,  1.13it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/13.xml

 90%|█████████ | 18/20 [00:11<00:01,  1.35it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/12.xml

 95%|█████████▌| 19/20 [00:12<00:00,  1.63it/s]

Se extrajo el df
Se clasifico el df
../Archivos/Corales/Corales_20/7.xml

100%|██████████| 20/20 [00:12<00:00,  1.60it/s]

Se extrajo el df
Se clasifico el df

In [56]:
df_final.drop_duplicates(inplace=True)

In [57]:
df_final

,Acordes,Compás,Beat,Duración,Suma_paso (n/4),Suma_cadencial (n/4),Suma_bordadura (n/3),Clasificación,Nombre
0,"['F#3', 'G3', 'D4', 'B4']",3,3.50,0.50,0.0,0.0,0.0,NI,8.xml
8,"['F#3', 'G3', 'D4', 'B4']",7,3.50,0.50,0.0,0.0,0.0,NI,8.xml
16,"['E3', 'A3', 'A4', 'C5']",3,4.00,0.50,0.0,0.0,0.0,NI,8.xml
24,"['E3', 'A3', 'A4', 'C5']",7,4.00,0.50,0.0,0.0,0.0,NI,8.xml
32,"['F#3', 'D4', 'G4', 'B4']",9,1.50,0.50,0.0,0.0,0.0,NI,8.xml
...,...,...,...,...,...,...,...,...,...
163,"['B2', 'G3', 'G4', 'E5', 'G5']",13,4.50,0.50,0.0,0.0,0.0,NI,7.xml
164,"['A2', 'D4', 'F4', 'F5', 'B5']",14,1.50,0.50,0.0,0.0,0.0,NI,7.xml
165,"['G2', 'E4', 'G4', 'E5', 'C6']",14,2.00,0.50,0.0,0.0,0.0,NI,7.xml
166,"['G2', 'E4', 'A4', 'D5', 'C6']",14,2.50,0.25,0.0,0.0,0.0,NI,7.xml
167,"['G2', 'E4', 'B-4', 'D5', 'C6']",14,2.75,0.25,0.0,0.0,0.0,NI,7.xml

In [58]:
df_final['Clasificación'].value_counts()

Clasificación
NI           193
Paso           6
Cadencial      2
Name: count, dtype: int64