In [1]:
from clase import cuartas 

from clasificacion import *

#Ejemplo coral Bach
bach_path = '../Archivos/Corales/028600B_.xml'
bach = cuartas(bach_path)
df = bach.extraer_df()


#Clasificación
aa = acorde6_4_paso(df)
aa

/usr/lib/python3/dist-packages/requests/__init__.py:87: RequestsDependencyWarning: urllib3 (2.0.4) or chardet (4.0.0) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

             Acordes  Condición1  Condición2  Condición3  Condición4  Suma
10  [D3, B3, G4, E5]        True        True        True        True     4
31  [G3, E4, A4, C5]        True        True        True       False     3
34  [E3, E4, A4, C5]        True        True        True       False     3

In [2]:
ab = acorde6_4_bordadura(df)
ab

             Acordes  Mismo bajo  Condición cuartas  Condición sextas  Suma
10  [D3, B3, G4, E5]       False              False             False     0
31  [G3, E4, A4, C5]       False              False             False     0
34  [E3, E4, A4, C5]       False              False             False     0

In [3]:
acorde6_4_cadencial(df)

             Acordes  Terceras  Sextas  Suma
10  [D3, B3, G4, E5]     False   False     0
31  [G3, E4, A4, C5]     False    True     1
34  [E3, E4, A4, C5]     False    True     1

In [4]:
#Ejemplo coral Bach
prueba_path = '/home/cuba/Documents/UNIVERSIDAD/M_C/Archivos/XML_ejemplos/Acordes 6-4_abril25.musicxml'
prueba = cuartas(prueba_path)
df = prueba.extraer_df()


#Clasificación
ap = acorde6_4_paso(df)
ap

            Acordes  Condición1  Condición2  Condición3  Condición4  Suma
1  [D3, B3, G4, D5]        True        True        True        True     4
5  [G3, E4, G4, C5]       False       False       False        True     1
8  [C3, F4, A4, C5]       False       False       False       False     0

In [5]:
ac = acorde6_4_cadencial(df)
ac

            Acordes  Terceras  Sextas  Suma
1  [D3, B3, G4, D5]     False   False     0
5  [G3, E4, G4, C5]      True    True     2
8  [C3, F4, A4, C5]      True    True     2

In [6]:
ab = acorde6_4_bordadura(df)
ab

            Acordes  Mismo bajo  Condición cuartas  Condición sextas  Suma
1  [D3, B3, G4, D5]       False              False             False     0
5  [G3, E4, G4, C5]       False              False             False     0
8  [C3, F4, A4, C5]        True               True              True     3

In [7]:
df

,Notas,Intervalos,Nombre intervalo simplificado,Num_semitonos,Nombre intervalo completo,Beat,Compás,Duración,Tipo
0,"[C3, C4, G4, E5]","[8, 5, 3]","[P8, P5, M3]","[12, 19, 28]","[Perfect Octave, Perfect Fifth, Major Third]",1.0,1,4.0,whole
1,"[D3, B3, G4, D5]","[8, 6, 4]","[M6, P4, P8]","[9, 17, 24]","[Major Sixth, Perfect Fourth, Perfect Octave]",1.0,2,4.0,whole
2,"[E3, C4, G4, C5]","[6, 6, 3]","[m6, m3, m6]","[8, 15, 20]","[Minor Sixth, Minor Third, Minor Sixth]",1.0,3,4.0,whole
3,"[F3, D4, F4, B4]","[8, 6, 4]","[M6, P8, A4]","[9, 12, 18]","[Major Sixth, Perfect Octave, Augmented Fourth]",1.0,4,4.0,whole
4,"[E3, E4, G4, C5]","[8, 6, 3]","[P8, m3, m6]","[12, 15, 20]","[Perfect Octave, Minor Third, Minor Sixth]",1.0,5,4.0,whole
5,"[G3, E4, G4, C5]","[8, 6, 4]","[M6, P8, P4]","[9, 12, 17]","[Major Sixth, Perfect Octave, Perfect Fourth]",1.0,6,2.0,half
6,"[G3, D4, G4, B4]","[8, 5, 3]","[P5, P8, M3]","[7, 12, 16]","[Perfect Fifth, Perfect Octave, Major Third]",3.0,6,2.0,half
7,"[C3, E4, G4, C5]","[8, 5, 3]","[M3, P5, P8]","[16, 19, 24]","[Major Third, Perfect Fifth, Perfect Octave]",1.0,7,4.0,whole
8,"[C3, F4, A4, C5]","[8, 6, 4]","[P4, M6, P8]","[17, 21, 24]","[Perfect Fourth, Major Sixth, Perfect Octave]",1.0,8,4.0,whole
9,"[C3, E4, G4, C5]","[8, 5, 3]","[M3, P5, P8]","[16, 19, 24]","[Major Third, Perfect Fifth, Perfect Octave]",1.0,9,4.0,whole

In [8]:
nota1  = "G"
nota2 = "D"
nota1  = note.Note(nota1)
nota2 = note.Note(nota2)

intervalo1 = interval.notesToInterval(nota1, nota2)
intervalo1.semiSimpleNiceName

'Perfect Fourth'

In [9]:
intervaloa = interval.Interval(nota1, nota2)
intervaloa.semiSimpleNiceName

'Perfect Fourth'

In [10]:
df.iloc[2]['Notas'][2]

'G4'

In [11]:
a = ['D3', 'A3', 'F3']
nota1 = a[0]

nota1

'D3'

In [12]:
nota11 = note.Note(nota1)
nota11

In [13]:
nota1 = pitch.Pitch("G")
nota2 = pitch.Pitch("D4")

interval.Interval(nota1,nota2)

In [14]:
notas  = [['C'], ['E'], ['C', 'G']]

notas[2]

['C', 'G']

/home/cuba/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "