In [1]:
from clase import cuartas 

from clasificacion import *

#Ejemplo coral Bach
bach_path = '../Archivos/Corales/028600B_.xml'
bach = cuartas(bach_path)
df = bach.extraer_df()

/usr/lib/python3/dist-packages/requests/__init__.py:87: RequestsDependencyWarning: urllib3 (2.0.4) or chardet (4.0.0) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
#Clasificación
aa = acorde6_4_paso(df)
aa

,Acordes,Intervalo_bajo pre 6/4: 2ª,Intervalo_bajo post 6/4: 2ª,Bajo AntesYdespues diferente,Voz 4ª igual AntesyDespues,Suma
10,"[D3, B3, G4, E5]",True,True,True,True,4
31,"[G3, E4, A4, C5]",True,True,True,False,3
34,"[E3, E4, A4, C5]",True,True,True,False,3

In [3]:
ab = acorde6_4_bordadura(df)
ab

,Acordes,Mismo bajo del 6/4,Voz 4ª baja y sube,Voz 6ª baja y sube,Suma
10,"[D3, B3, G4, E5]",False,False,False,0
31,"[G3, E4, A4, C5]",False,False,False,0
34,"[E3, E4, A4, C5]",False,False,False,0

In [4]:
ac = acorde6_4_cadencial(df)
ac

,Acordes,Voz 4ª va a 3ª,Voz 6ª va a 5ª,Intervalo 5ª bajo,Bajos antes diferente,Suma
10,"[D3, B3, G4, E5]",False,False,False,False,0
31,"[G3, E4, A4, C5]",False,True,False,True,2
34,"[E3, E4, A4, C5]",False,True,False,True,2

In [5]:
prueba_path = '../Archivos/XML_ejemplos/Acordes 6-4_abril25.musicxml'
prueba = cuartas(prueba_path)
df_ej1 = prueba.extraer_df()

In [6]:
#Clasificación
ap = acorde6_4_paso(df_ej1)
ap

,Acordes,Intervalo_bajo pre 6/4: 2ª,Intervalo_bajo post 6/4: 2ª,Bajo AntesYdespues diferente,Voz 4ª igual AntesyDespues,Suma
1,"[D3, B3, G4, D5]",True,True,True,True,4
5,"[G3, E4, G4, C5]",False,False,False,True,1
8,"[C3, F4, A4, C5]",False,False,False,False,0

In [7]:
ac = acorde6_4_cadencial(df_ej1)
ac

,Acordes,Voz 4ª va a 3ª,Voz 6ª va a 5ª,Intervalo 5ª bajo,Bajos antes diferente,Suma
1,"[D3, B3, G4, D5]",False,False,False,True,1
5,"[G3, E4, G4, C5]",True,True,True,True,4
8,"[C3, F4, A4, C5]",True,True,False,False,2

In [8]:
ab = acorde6_4_bordadura(df_ej1)
ab

,Acordes,Mismo bajo del 6/4,Voz 4ª baja y sube,Voz 6ª baja y sube,Suma
1,"[D3, B3, G4, D5]",False,False,False,0
5,"[G3, E4, G4, C5]",False,False,False,0
8,"[C3, F4, A4, C5]",True,True,True,3

In [9]:
df_ej1

,Notas,Intervalos,Nombre intervalo simplificado,Num_semitonos,Nombre intervalo completo,Beat,Compás,Duración,Tipo
0,"[C3, C4, G4, E5]","[8, 5, 3]","[P8, P5, M3]","[12, 19, 28]","[Perfect Octave, Perfect Fifth, Major Third]",1.0,1,4.0,whole
1,"[D3, B3, G4, D5]","[8, 6, 4]","[M6, P4, P8]","[9, 17, 24]","[Major Sixth, Perfect Fourth, Perfect Octave]",1.0,2,4.0,whole
2,"[E3, C4, G4, C5]","[6, 6, 3]","[m6, m3, m6]","[8, 15, 20]","[Minor Sixth, Minor Third, Minor Sixth]",1.0,3,4.0,whole
3,"[F3, D4, F4, B4]","[8, 6, 4]","[M6, P8, A4]","[9, 12, 18]","[Major Sixth, Perfect Octave, Augmented Fourth]",1.0,4,4.0,whole
4,"[E3, E4, G4, C5]","[8, 6, 3]","[P8, m3, m6]","[12, 15, 20]","[Perfect Octave, Minor Third, Minor Sixth]",1.0,5,4.0,whole
5,"[G3, E4, G4, C5]","[8, 6, 4]","[M6, P8, P4]","[9, 12, 17]","[Major Sixth, Perfect Octave, Perfect Fourth]",1.0,6,2.0,half
6,"[G3, D4, G4, B4]","[8, 5, 3]","[P5, P8, M3]","[7, 12, 16]","[Perfect Fifth, Perfect Octave, Major Third]",3.0,6,2.0,half
7,"[C3, E4, G4, C5]","[8, 5, 3]","[M3, P5, P8]","[16, 19, 24]","[Major Third, Perfect Fifth, Perfect Octave]",1.0,7,4.0,whole
8,"[C3, F4, A4, C5]","[8, 6, 4]","[P4, M6, P8]","[17, 21, 24]","[Perfect Fourth, Major Sixth, Perfect Octave]",1.0,8,4.0,whole
9,"[C3, E4, G4, C5]","[8, 5, 3]","[M3, P5, P8]","[16, 19, 24]","[Major Third, Perfect Fifth, Perfect Octave]",1.0,9,4.0,whole

In [10]:
dataframe_clasificacion(df_ej1)

,Acordes,Compás,Beat,Duración,Suma_paso (n/4),Suma_cadencial (n/4),Suma_bordadura (n/3),Clasificación
0,"['D3', 'B3', 'G4', 'D5']",2,1.0,4.0,4,1,0,Paso
1,"['G3', 'E4', 'G4', 'C5']",6,1.0,2.0,1,4,0,Cadencial
2,"['C3', 'F4', 'A4', 'C5']",8,1.0,4.0,0,2,3,Bordadura

In [11]:
from clase import cuartas 

from clasificacion import *
prueba_path = '../Archivos/XML_ejemplos/Ejemplo6_Ac6-4_Cromatismos_Subdiv.musicxml'
prueba = cuartas(prueba_path)
df_ejemplo = prueba.extraer_df()

In [12]:
dataframe_clasificacion(df_ejemplo)

,Acordes,Compás,Beat,Duración,Suma_paso (n/4),Suma_cadencial (n/4),Suma_bordadura (n/3),Clasificación
0,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
1,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
2,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
3,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
4,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
5,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
6,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
7,"['B2', 'G#3', 'E4', 'B4']",1,3.0,1.0,4,1,0,Paso
8,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
9,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
10,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
11,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
12,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
13,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
14,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
15,"['B2', 'G#3', 'E4', 'B4']",2,11/3,2/3,4,1,0,Paso
16,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,0,4,0,Cadencial
17,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,0,4,0,Cadencial
18,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,0,4,0,Cadencial
19,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,0,4,0,Cadencial
20,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,1,4,0,Cadencial
21,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,1,4,0,Cadencial
22,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,1,4,0,Cadencial
23,"['E3', 'C#4', 'E4', 'A4']",3,1.0,1.5,1,4,0,Cadencial
24,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,0,4,0,Cadencial
25,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,0,4,0,Cadencial
26,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,0,4,0,Cadencial
27,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,0,4,0,Cadencial
28,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,1,4,0,Cadencial
29,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,1,4,0,Cadencial
30,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,1,4,0,Cadencial
31,"['E3', 'C#4', 'E4', 'A4']",5,1.0,0.5,1,4,0,Cadencial
32,"['A2', 'D4', 'F#4', 'A4']",4,7/3,4/3,0,3,3,Bordadura

In [13]:

ejem_bor = acorde6_4_bordadura(df_ejemplo)
ejem_bor

KeyError: 'Notas'

/home/cuba/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "